h1{
text-align: left;
font-family: "Lilita One", sans-serif;
font-weight: 100;
font-style: normal;
color: #251505;
display: absolute;
margin-left: 1rem;
background-color: #D1988E;
}

.gallery{
  display: grid; 
  grid-template-columns: auto ;
  grid-gap: 20px;
  place-items: center;
  text-align: center;
}


img{
  width: 120px;
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #AEC4DC;
  color: #112A46;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #112A46;
}

.navigation a:hover {
  background-color: antiquewhite;
  color: rgb(92, 70, 43);
  font-weight: 700;
}

footer
{
background-color: #D1988E;
padding: 2px;
}

.footer-p{
  color: #251505;
  text-align: center;
  margin: 10px
}

.modification{
  color: #251505;
  text-align: center;
  margin: 10px;
}
#menu{
font-size: 1.5rem;
border: 0;
background:none;
color: #000;
position:absolute;
top: 1rem;
right: 1rem;
}

#menu::before{
  content:"☰";
}

#menu.open::before{
  content: "❎";
}

.open a{
  display: block;
}